@media only screen and (max-width: 1200px) {
    .single-post {
        flex-basis: 321px;
        margin: 16px;
    }
    .icon-sec ul li {
        margin: 0 12px;
    }
    .simple-heading h2 {
        font-weight: 900;
        font-size: 26px;
        line-height: 45px;
    }
    .accordation-heading p{
        font-weight: bold;
    }
}
@media only screen and (max-width: 1080px) {
    .icon-sec ul li {
        margin: 0 8px;
    }
    .icon-sec ul li a{
        font-size: 30.2652px;
    }
    .home-post{
        padding: 0;
    }
    .single-client{
        margin-top: 20px;
    }

    .single-post {
        flex-basis: 300px;
        margin: 6px;
    }
    .single-accordation {
        width: 339px;
        
    }
    .accordation-heading img{
        margin-left: 2px;
    }
    .accordation-heading p{
        font-size: 16px;
        margin: 0;
    }
    .accordation-heading img{
        padding-left: 0px;
    }
}
@media only screen and (max-width: 990px) {
    .main-nav ul li:not(:last-child) a{
        margin: 0 12px;
    }
    .blog-posts h2{
        font-size: 39px;

    }
    .slide-sec h2{
        font-size: 40px;
        line-height: 61px;
    }
    .mail-subscription h1{
        font-size: 44px;
    }
    .client-img img {
        width: 100%;
        padding: 28px;
    }
    .our-services h1{
        font-size: 43px;
    }
    .text-content p{
        margin: 20px 1px;
    }
    .post-feature{
        width: 100%;
    }
    .single-post{
        flex-basis: 272px;
    }
}
@media only screen and (max-width: 893px) {
    .main-nav ul li:not(:last-child) a{
        margin: 0 7px;
    }
    .single-p img{
        width: 26px;
    }
    .single-p p{
        font-size: 17px;
    }
    .client-content h3{
        line-height: 46px;
    }
    .single-p2 p{
        font-size: 14px;
    }
    .slider-content-imge{
        padding: 0px 7px;
    }
    .hiring{
        font-size: 8px;
    }

}