*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
a{
    text-decoration: none;
    
}
.common{
    max-width: 1200px;
    margin: auto;

}
/* End the comment parts */

header{
    background: #0A2640;
    position: relative;
    background-image: url(../images/Ellipse\ 9.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 642px;

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 40px 0px;

}
.log{
    flex-basis: 50%;

}
.log a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 43.25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #ffff;
}
.main-nav{
    flex-basis: 50%;


}
.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    float: right;

}
.main-nav ul li{
    float: left;
    list-style: none;
}
.main-nav ul li:not(:last-child) a{
    width: 61px;
    height: 28px;
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffff;
    margin: 0 20px;
}
.main-nav ul li:last-child{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    


}
.main-nav ul li:last-child a{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #0A2640;
    border-radius: 24px;
    padding: 10px 25px;

}

.hader-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.text-content{
    flex-basis: 50%;
    color: white;
   

}
.text-content h1{
    font-family: 'Manrope';

}
.text-content p{
    font-family: 'Open Sans';
    margin: 20px 0px;
}
.image-content{
    flex-basis: 50%;
}
.image-content img{
    float: right;
    width: 100%;
}
.active-btn{
    display: inline-flex;
    padding: 10px 27px;
    
    background: #65E4A3;
    border-radius: 56px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #0A2640;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    
    order: 0;
}
.header-btn{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 46px;
    /* gap: 8px; */
    /* width: 149px; */
    /* height: 53px; */
    border: 2px solid #FFFFFF;
    border-radius: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 30px;
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
   
}
.icon-sec{
    display: flex;
    
    
   
}
.icon-sec ul{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}
.icon-sec ul li{
    list-style: none;
    margin: 0 25px;

}
.icon-sec ul li a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36.2652px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 20px 0px;
}
/* End Header */
.our-services{
  

}
.main-p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:100;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.our-services h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin: auto;
    color: #000000;
    text-align: center;

}
.home-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.home-single{
    flex-basis: 28%;
}
.home-single h3{
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     line-height: 36px;
     color: #000000;
}
.home-single p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.home-single a{

    display: inline-flex;
    align-items: center;
    margin: 2px 0px;
    border-bottom: 2px solid #777777;
    
}
.home-single a p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #0A2640;

}

.home-single a img{
    width: 24px;
    height: 26px;
}
/* End the our services */
.our-clients{

}
.single-client{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.client-img{
    flex-basis: 50%;
}
.client-content{
    flex-basis: 50%;
}
.single-p{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.single-p p{
    font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 32px;
     margin-left: 10px;
}
.client-content h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;

    color: #000000;
}
.client-content a{
    display: inline-flex;
    padding: 16px 56px;
    background: #0A2640;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
}
.our-clients{
    margin-top: 78px;
}
/* End first single customer */
.single-p2{
    display: inline-flex;
    align-items: center;
    margin: 10px 0px;
   
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}
.single-p2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    margin-left: 10px

}
.single-p2:hover{
    background: #0A2640;

}
/* clients sections */
.slide-sec{
    background: #0A2640;
    
}
.slide-box{
    display: flex;
    position: relative;

}
.slide-btn{
    position: absolute;
    bottom: 0;
    right: 0
}
.slide-sec h2{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    
}

.btn-s{
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
}
.main-slider{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.slider{
    
    flex-basis: 350px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;


}
.slider-text{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    text-align: left;
    padding: 37px;
}
.slider-content{
    display: flex;
}