*{
    padding: 0;
    margin: auto;  
    
    box-sizing: border-box;
    
    
}
body{

    max-width: 1300px;
}
a{
    text-decoration: none;
    
}


/* End the comment parts */

header{
    background: #0A2640;
    position: relative;
    background-image: url(../images/Ellipse\ 9.png);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 642px;
    padding: 0 20px;
    

}

nav{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    padding: 40px 0px;
    position: relative;

}
.log{
    flex-basis: 50%;

}
.log a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 43.25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #ffff;
}
.log a img{
    margin: 0;

}
.main-nav{
    flex-basis: 50%;


}
.main-nav ul{
    display: flex;
    flex-wrap: wrap;
    float: right;

}
.main-nav ul li{
    float: left;
    list-style: none;
}
.main-nav ul li:not(:last-child) a{
    width: 61px;
    height: 28px;
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #ffff;
    margin: 0 20px;
}
.main-nav ul li:last-child{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    


}
.main-nav ul li:last-child a{
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    color: #0A2640;
    border-radius: 24px;
    padding: 10px 25px;

}
.short-metu{
    position: absolute;
    display: none;
    right: 12px;
}
.short-metu a{
    display: inline-block; 
    cursor: pointer;
}
.fa-bars{
    color: #ffff;
    font-size: 34px;
}
.menu-cart{
    width: 208px;
    height: 305px;
    background: #ffff;
    border-radius: 5px;
    position: absolute;
    top: 40px;
    right: 12px;
    display: none;
    
}
.menu-cart ul{
    padding: 34px;
}
.cross{
    top: 2px;
    right: 6px;
    position: absolute;
    font-size: 24px;
    cursor: pointer;
}
.menu-cart ul{

}
.menu-cart ul li{
    list-style: none;
    text-align: center;
    padding: 9px;
    transition: 1s;

}
.menu-cart ul li a{
    width: 61px;
    height: 28px;
    padding: 10px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 28px;
    color: #0A2640;
    margin: 0 20px;
   
}
.menu-cart ul li a:hover{
text-decoration: 3px underline;

}
.hader-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

}
.text-content{
    flex-basis: 50%;
    color: white;
   

}
.text-content h1{
    font-family: 'Manrope';

}
.text-content p{
    font-family: 'Open Sans';
    margin: 20px 0px;
}
.image-content{
    flex-basis: 50%;
}
.image-content img{
    float: right;
    width: 100%;
}
.active-btn{
    display: inline-flex;
    padding: 10px 27px;
    
    background: #65E4A3;
    border-radius: 56px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;

    color: #0A2640;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    
    order: 0;
}
.header-btn{
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 8px 46px;
    /* gap: 8px; */
    /* width: 149px; */
    /* height: 53px; */
    border: 2px solid #FFFFFF;
    border-radius: 56px;
    flex: none;
    order: 1;
    flex-grow: 0;
    margin-left: 30px;
    color: #ffff;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
   
}
.icon-sec{
    display: flex;
    
    
   
}
.icon-sec ul{
    display: inline-flex;
    flex-wrap: wrap;
    margin: auto;
}
.icon-sec ul li{
    list-style: none;
    margin: 0 25px;

}
.icon-sec ul li a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 36.2652px;
    line-height: 28px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    margin: 20px 0px;
}
/* End Header */
.our-services{
  

}
.main-p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight:100;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.our-services h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin: auto;
    color: #000000;
    text-align: center;

}
.home-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 60px;
    margin-top: 20px;

}
.home-single{
    flex-basis: 28%;
}
.home-single img{
    width: 100%;
    height: auto;

}
.home-single h3{
     font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 24px;
     
     color: #000000;
}
.home-single p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
    margin: 8px 0px;
}
.home-single a{

    display: inline-flex;
    align-items: center;
    margin: 2px 0px;
    border-bottom: 2px solid #777777;
    
}
.home-single a p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 36px;
    color: #0A2640;

}

.home-single a img{
    width: 24px;
    height: 26px;
}
/* End the our services */
.our-clients{

}
.single-client{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.client-img{
    order: 0;
    flex-basis: 50%;
}
.client-img img{
    order: 1;
    width: 90%;
}

.client-content{
    
    flex-basis: 50%;
}
.single-p{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.single-p img{
    margin: 0;
}
.single-p p{
    font-family: 'Open Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 20px;
     line-height: 32px;
     margin: 5px;
}
.client-content h3{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
    display: flex;
    align-items: center;

    color: #000000;
}
.client-content a{
    display: inline-flex;
    padding: 16px 56px;
    background: #0A2640;
    border-radius: 56px;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-weight: 700;
    font-size: 20px;
    margin-top: 50px;
}
.our-clients{
    margin: 0px 20px;
    margin-top: 78px;
}
/* End first single customer */
.single-p2{
    display: inline-flex;
    align-items: center;
    margin: 10px 0px;
   
    padding: 10px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.08);
}
.single-p2 p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    margin: 5px;

}
.single-active{
    background: #0A2640;
    color: #FFFFFF;

}
/* clients sections */
.slide-sec{
    background: #0A2640;
    
}
.slide-box{
    display: flex;
    

}

.slide-sec h2{
    font-family: 'Manrope';
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    color: #FFFFFF;
    
}

.main-slider{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 19px;
}
.btn-s-prev{
    position: absolute;
    top: -48px;
    right: 134px;

    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.btn-s-prev-next{
    position: absolute;
    top: -48px;
    right: 64px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    margin: 5px;
    cursor: pointer;
}
.slider{
    
    flex-basis: 350px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);
    border-radius: 12px;
    margin: 10px;
    position: relative;


}

.text-area p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 29px;
    line-height: 44px;
    text-align: left;
    padding: 22px 15px;
}
.slider-content{
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 15px;
   

}
.slider-content-imge{
    margin: 0;
    padding: 22px 15px;
}
.content-text{
    margin: 0px 15px;
}
.content-text-1{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 32px;
}
.content-text-2{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 32px;
}
.slider-content-img img{
    width: 58px;
    height: 58px;
    border-radius: 50%;
}
/* End the second customer section */
.next-customer{
    margin-top: 50px;
}
.img-area img{
    width: 100%;
    margin: auto;
    padding: 0px 49px;
   
}
.content-area{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 31px 49px;

}
.simple-heading{
    flex-basis: 50%;


}
.simple-heading h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 56px;
}
.slider-area{
    flex-basis: 50%;
    padding-top: 14px;

}
.single-accordation{
    width: 449px;
    margin-bottom: 20px;

}
.accordation-heading{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    border-bottom: 1px solid #C4C4C4;
    align-items: center;
    cursor: pointer;
    padding-bottom: 10px;
    
    
    
 
    
}
.accordation-heading img{
    padding-left: 5px;
}
.accordation-heading p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    font-weight: bold;
   
    
}
.panel{
    font-family: 'Manrope';
    display: none;
    
    
}
.panel p{
    margin: 0;
    padding-top: 10px;
}
/* End all customer next */
.blog-p{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 100;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
}
.blog-posts h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;
    margin: auto;
    color: #000000;
    text-align: center;
}
.main-post{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-post{
    flex-basis: 339px;
    margin: 28px;
}
.post-feature{
    border-radius: 12px;
    width: 298px;
    height: 209px;
}
.athour{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
.athour img{
    margin: 0;
    margin-right: 10px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.single-post{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 28px;
color: #0A2640;
}
.date{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
}
.post-content{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
}
.author-name{
    margin: 0;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
}
.load-more{
    text-align: center ;
    margin: auto;
    display: flex;
    justify-content:center;
    
   
}
.load-btn{
    margin: 10px;
    padding: 16px 56px;
    border-radius: 56px;
    border: 2px solid #0A2640;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0A2640;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    background: none;
    cursor: pointer;






}
/* End the blog section */
.mail-subscription{
    background:#0A2640;
    background-image: url(../images/Ellipse\ 99.png);
    background-repeat: no-repeat;
    background-position: top right;
    border-radius: 7px;
    padding: 66px;
    margin-top: 10px;
    
}
.mail-subscription h1{
    text-align: center;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 72px;

    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    
    color: #FFFFFF;
}
.mail-box{
    display: flex;
    justify-content: center;
    margin: 13px 0px;
    
    
}
.mail-box input[type=text]{
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    background: #FFFFFF;
    border-radius: 240px;
    width: 25%;
    padding: 16px;
    font-size: 15px;
    margin: 0;
}
.mail-box input[type=submit]{
    background: #65E4A3;
    border: 2px solid #65E4A3;
    border-radius: 56px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #0A2640;
    padding: 3px 51px;
    margin: 0;
    margin-left: 24px;
    cursor: pointer;


}
/* start footer css */

.log2{
    flex-basis: 50%;
}
.log2 a{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 43.25px;
    line-height: 34px;
    display: flex;
    align-items: center;
    color: #0A2640;


}
.log2 a img{
    margin: 0;
}

.footer-area{
    display: flex;
    flex-wrap: wrap;
    margin: 0 20px;
    margin-top: 104px;
}
.log2{
    flex-basis: 50%;

}
.links{
    flex-basis: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.single-col{
    flex-basis: 30%;
}

.log2 p{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    width: 400px;
    margin: 42px 0px;
}
.rights{
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: #777777;
    align-items: center;
    display: flex;


}
.footer-col-heading{
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 20px;
    line-height: 32px;
    align-items: center;
    color: #000000;
}
.single-col ul li{
    font-family: 'Open Sans';
    list-style: none;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #777777;
    margin: 19px 0px;


}
.single-col ul li a{
    color:#777777 ;
}
.hiring{
    width: 72px;
    height: 30px;
    padding: 3px 6px;

    background: #65E4A3;
    border-radius: 120px;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 13px;
    line-height: 28px;
    color: #0A2640;


}
/* Slick dots css */
.slick-dots{
    display: flex;
	justify-content: center;
	margin: auto;
	padding: 1rem 0;
	
	list-style-type: none;
}
.slick-dots   li {
        margin: 0 0.25rem;
    }
    .slick-dots   li  button {
        display: block;
        width: 1rem;
        height: 1rem;
        padding: 0;
        
        border: none;
        border-radius: 100%;
        background-color: #5E5E5E;;
        
        text-indent: -9999px;
    }

    li.slick-active button {
        background-color: #ffff;
    }
